*{padding: 0px; margin: 0px;}
/*
body{
    width: 90%;
    height: 100%;
    background: #333333;
    margin: 0 auto;
}*/


.centro{
    width: 90%;
    height: 100%;
    background: #333333;
    margin: 0 auto;
}

.topo{
    width: 100%;
    height: 20%;
    background: #ff0000;
    text-align: center;
}
.topo h1{
    color:#fff; font-size: 2em;
}

.padding-colunas{
    padding: 10px;
}

.colunas2 {
    width: 50%;
    float: left;
    background: #999;
    text-align: center;
}

