@media screen and (min-width:320px) and (max-width:568px){
    div.centro{
        width: 100%;
    }
    .topo{
        background: #ff0;
    }
    .topo h1{
        color: #f00;
    }
    .colunas2{
        float: none;
        background: #ff0000;
        width: 100%;
    }
}

@media only screen and (max-width: 800px) and (orientation: landscape) {
    body {
        background-color: grey;
    }

}